#Avatar {
    border-radius: 50%;
}
#Logo {
    padding: 20px;
}
.nav-link {
    color: black;
}
.navbar {
    height: 60px;
}
#Jumb {
    background-color: rgba(113, 58, 250, 0.902);
    height: 300px;
}
.container > h1 {
    color: rgb(255, 255, 255);
}
.container > img {
    width: 200px;
    height: 150px;
}
#Barra2 {
   padding: 15px;
   background-color: rgba(221, 216, 216, 0.566);
}
main {
    text-align: center;
 }