#Avatar {
    border-radius: 50%;
}
#Logo {
    padding: 20px;
}
.nav-link {
    color: black;
}
.navbar {
    height: 60px;
}
#Jumb {
    background-color: rgba(113, 58, 250, 0.902);
    height: 300px;
}
.container > h1 {
    color: rgb(255, 255, 255);
    
}